<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<p>42서울 계정으로 안전하게 로그인 되었습니다.</p>
<form action="https://api.intra.42.fr/oauth/token" method="post">
  grant_type: <input type="text" name="grant_type" />
  client_id: <input type="text" name="client_id" />
  client_secret: <input type="text" name="client_secret" />
  code: <input type="text"  name = "code" />
  redirect_uri :  <input type="text" name="redirect_uri" />
  <button type="submit">전송</button>
</form>
<a href="http://localhost:8080/select">API List보기</a>
</body>
</html>